@charset "utf-8";

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: 'Paperlogy';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    padding-top: 100px;
}

#wrap {
    min-width: 1360px;
}

/* topㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#top {
    width: 1320px;
    margin: 0 auto;
    height: 100px;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background-color: #f4f4f4;
}

.gnb {
    display: flex;
    justify-content: center;
}

.gnb li a {
    display: block;
    padding: 40px 70px 0;
}

.top_logo {
    margin-top: -30px;
}

/* headerㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#header {
    width: 1320px;
    margin: 0 auto;
    height: 800px;
    position: relative;
}

#header img {
    border-radius: 0 0 100px 100px;
}

.swiper-button-next {
    color: #f4f4f4;
}

.swiper-button-prev {
    color: #f4f4f4;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #f4f4f4;
}


/* section1ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section1 {
    overflow: hidden;
}

.title {
    font-weight: 900;
    font-size: 30px;
    color: #3e7171;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 75px;
}

/* content1_1 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#content1 {
    width: 1320px;
    margin: 0 auto;
    height: 1690px;
}

.content1_1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.text {
    height: 455px;
    width: 740px;
    box-sizing: border-box;
    position: relative;
}

.content1_1 .text_inner {
    position: absolute;
    right: 0;
    top: 0;
    width: 3000px;
    background-color: #f5eadb;
    height: 455px;
}

.content1_1 .text_inner2 {
    position: absolute;
    right: 0;
    top: 50%;
    width: 580px;
    transform: translateY(-50%);
}

#content1 .text h2 {
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 7px;

}

.ss_title {
    font-size: 16px;
    padding-bottom: 40px;
}

#content1 .text h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.color {
    font-weight: 700;
    padding-top: 25px;
}

.color1 {
    color: #dd5746;
}

.font {
    position: relative;
}

.font2 {
    position: relative;
}

.font h4 {
    font-size: 60px;
    font-weight: 900;
    color: rgba(255, 243, 227, 0.68);
    position: absolute;
    bottom: 33px;
    left: 18px;
}

.font2 h4 {
    font-size: 60px;
    font-weight: 900;
    color: rgba(255, 243, 227, 0.68);
    position: absolute;
    bottom: 33px;
    right: 18px;
}

/* 1_1 */
.section1_bg1 .content1_1 {

    transform: translateX(-1600px);
    /* 초기 위치 설정 */
    transition: transform 2s ease-in-out;
    /* transition 사용 */
}

/* .animate 클래스가 추가되면 transform 속성 변경 */
.section1_bg1.animate .content1_1 {
    transform: translateX(0);
}

/* 1_2 */
.section1_bg2 .content1_2 {

    transform: translateX(1600px);
    /* 초기 위치 설정 */
    transition: transform 2s ease-in-out;
    /* transition 사용 */
}

/* .animate 클래스가 추가되면 transform 속성 변경 */
.section1_bg2.animate .content1_2 {
    transform: translateX(0);
}

/* 1_3 */
.section1_bg3 .content1_1 {

    transform: translateX(-1600px);
    /* 초기 위치 설정 */
    transition: transform 2s ease-in-out;
    /* transition 사용 */
}

/* .animate 클래스가 추가되면 transform 속성 변경 */
.section1_bg3.animate .content1_1 {
    transform: translateX(0);
}














/* content1_2 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.content1_2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.content1_2 .text_inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 3000px;
    background-color: #f5eadb;
    height: 455px;
}

.content1_2 .text_inner2 {
    position: absolute;
    left: 162px;
    top: 50%;
    width: 580px;
    transform: translateY(-50%);
}


.color2 {
    color: #ffc470;
}

/* content1_3 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.color3 {
    color: #3e7171;
}

/* section2ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#content2 {
    width: 1320px;
    margin: 0 auto;
    height: 1415px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#content2 img {
    display: block;
    border-radius: 30px 30px 0 0;
    width: 415px;
    height: 450px;
}

.box {
    width: 415px;
    height: 85px;
    background-color: #f5eadb;
    text-align: center;
    font-family: 25px;
    color: #232323;
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2_2 {
    position: relative;
    top: 149px;
}


.content2_5 {
    position: relative;
    top: 52px;
}

.content2_4 {
    position: relative;
    top: -97px;
}


.content2_6 {
    position: relative;
    top: -97px;
}

/* cover~~~~~~~~~~~~~~~~~~~~~~ */
.cover_box {
    position: relative;
    overflow: hidden;
    height: 450px;
    border-radius: 30px 30px 0 0;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.cover_box:hover .cover {
    opacity: 1;
}

.cover a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 16px;
    margin-top: 20px;
}

.cover a:hover {
    background-color: #fff;
    color: #000;
}


/* eventㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#event {
    width: 1320px;
    margin: 0 auto;
    height: 500px;
}

/* content3ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#content3 {
    width: 1075px;
    margin: 0 auto;
    height: 1520px;
}

.content3_1 {
    display: flex;
    margin-bottom: 75px;
}

.m_img {
    overflow: hidden;
    border-radius: 30px;
    width: 580px;
    height: 410px;
    margin-right: 81px;
}

.content3_1 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.m_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m_text h2 {
    color: #3e7171;
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 10px;
}

.m_text h2 span {
    color: #dd5746;
}

.m_text h3 {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
}

.m_text p {
    padding-bottom: 15px;
}

.m_text p strong {
    display: inline-block;
    width: 70px;
    height: 25px;
    border-radius: 30px;
    background-color: #3e7171;
    color: #f4f4f4;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-right: 15px;
}

.m_text p span {
    display: inline-block;

}

.content3_2 {
    display: flex;
    margin-bottom: 75px;
}

.content3_2 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.content3_3 {
    display: flex;
}

.content3_3 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#content3 img:hover {
    transform: scale(1.1);

}


/* content4ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#content4_wrap {
    margin: 0 auto;
    height: 950px;
    background-color: #f5eadb;
}

#content4 {
    width: 1320px;
    margin: 0 auto;
}

#content4 h2 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

.con4_box {
    background-color: #f4f4f4;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
}

#content4 p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 58px;
}

/* content5ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#content5 {
    width: 1320px;
    margin: 0 auto;
    margin-top: 140px;
    height: 315px;
    background-color: #3e7171;
    border-radius: 100px 100px 0 0;
}

.title2 {
    font-weight: 900;
    font-size: 30px;
    color: #f4f4f4;
    text-align: center;
    padding-top: 30px;
}

.con5_white {
    width: 1100px;
    margin: 0 auto;
    height: 140px;
    border-radius: 30px;
    background-color: #f4f4f4;
    margin-top: 45px
}

#today {
    font-weight: 400;
    font-size: 22px;
    color: #f4f4f4;
    text-align: center;
    padding-top: 30px;
}

/* 달력 */
/* MAIN_BANNER */
#main_banner {
    height: 100px;
    position: relative;
    top:20px;
    left: 0;
    box-sizing: border-box;

}

.reservation {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    background: #f4f4f4;
    position: absolute;
    top:  0;
    left: 0;
    border-radius: 30px;
    display: flex;
}

.reservation img {
    padding: 22px 75px;
    float: left;
}

.reservation .select {
    width: 1100px;
    float: left;
    text-align: center;
}

.reservation .day {
    outline-style: none;
    border: none;
    border: 1px solid #3e7171;
    padding: 16px 15px 17px 15px;
    width: 118px;
    background: url(../images/calendar2.png) no-repeat 90% center;
    margin: 30px 20px 20px 0;
}

select {
    padding: 16px 70px 17px 10px;
    background-color: skyblue;
    outline-style: none;
    background: none;
    border: 1px solid #3e7171;
    color: #3e7171;
    appearance: none;
    margin: 20px 20px 20px 0;}

option {
    color: #000;
}

input::placeholder {
    color: #3e7171;
}

.reservation .search {
    width: 140px;
    text-align: center;
    background: #f4f4f4;
    float: right;
    margin: 29px 50px 22px 20px;
    border: 1px solid #3e7171;
}

.reservation .search>a {
    color: #3e7171;
    display: block;
    padding: 15px 0;
}

.day {
    color: #3e7171;
}



/* footerㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#footer_wrap {
    margin: 0 auto;
    height: 240px;
    background-color: #f5eadb;
}

#footer {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
}

#footer p {
    padding-bottom: 5px;
}

.footer_text {
    font-weight: 400;
    font-size: 12px;
}

.s_text {
    font-size: 10px;
}

.icon {
    width: 190px;
    margin: 0 auto;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.icon a{opacity: 50%;}

.icon a:hover{opacity: 100%;}

.r_text {
    font-size: 11px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}